.scale-enter-active[data-v-1feff7f2],.scale-leave-active[data-v-1feff7f2]{transition:all .3s ease-out}.scale-enter-from[data-v-1feff7f2],.scale-leave-to[data-v-1feff7f2]{opacity:0;transform:scale(.9)}
