.loader[data-v-30284193]{animation:spin-30284193 1s linear infinite;border:3px solid #f3f3f3;border-radius:50%;border-top-color:#3182ce;height:2rem;width:2rem}@keyframes spin-30284193{0%{transform:rotate(0)}to{transform:rotate(1turn)}}
