.blob-anim[data-v-9905c319]{animation:blobFade-9905c319 3s ease-out infinite alternate}@keyframes blobFade-9905c319{0%{opacity:.2;transform:scale(.9) translate(0)}to{opacity:.5;transform:scale(1.1) translate(20px,20px)}}
