.shake[data-v-a70792e9]{animation:shakeAnim-a70792e9 .35s ease-in-out}@keyframes shakeAnim-a70792e9{0%,to{transform:translate(0)}25%{transform:translate(-6px)}50%{transform:translate(6px)}75%{transform:translate(-6px)}}
