.shake[data-v-21937c64]{animation:shakeAnim-21937c64 .35s ease-in-out}@keyframes shakeAnim-21937c64{0%,to{transform:translate(0)}25%{transform:translate(-6px)}50%{transform:translate(6px)}75%{transform:translate(-6px)}}
